div.relative(layout="column" layout-fill role="main")
  md-button.md-fab.md-fab-bottom-right(ng-click="state.addTape()")
    md-icon library_add

  md-toolbar(ng-show="!state.searching")
    .md-toolbar-tools
      h1 MT News Archive
      span(flex)
      md-button(aria-label="search" ng-click="state.searching = !state.searching")
        md-icon search
  md-toolbar.md-hue-2(ng-show="state.searching")
    .md-toolbar-tools
      md-button(ng-click="state.searching = !state.searching" aria-label="Back")
        md-icon arrow_back
      h1(flex="10") Back
      md-input-container(md-theme="input" flex)
        label &nbsp;
        input.search(ng-model="state.search" placeholder="enter search")
      md-button(aria-label="search" ng-click="state.showSearch = !state.showSearch")
        md-icon search

  md-progress-linear(
    md-mode="{{ state.saving ? 'indeterminate' : 'determinate' }}" value="100"
  )

  md-content.md-default-theme(flex md-scroll-y)
    md-card(flex-gt-sm="90" flex-gt-md="80")
      md-list
        md-list-item(ng-repeat="item in state.records track by item.id")
          record-viewer(
            ng-dblclick="state.edit(item)"
            record="item"
            editing="item == state.editing"
            done-editing="state.edit(null)"
          )
          md-divider
