// Sidenav

div.relative(layout="column" layout-fill role="main")
  md-button.md-fab.md-fab-bottom-right(ng-click="state.addTape()")
    md-icon library_add

  section.md-whiteframe-glow-z1
    // Toolbars
    mtna-archive-searchbar

    // Page transitioning
    md-progress-linear(
      md-mode="{{ state.saving ? 'indeterminate' : 'determinate' }}" value="100"
    )

  md-content.md-default-theme(flex md-scroll-y)
    // main content
    
    md-card(flex-gt-sm="90" flex-gt-md="80")
      md-list
        md-list-item(ng-repeat="item in state.records track by item.id")
          record-viewer(
            ng-dblclick="state.edit(item)"
            record="item"
            editing="item == state.editing"
            done-editing="state.edit(null)"
          )
          md-divider

    md-card.md-padding(flex-gt-sm="95" flex-gt-md="85")
      record-viewer(
        record="state.records[3]"
      )

    md-card(flex-gt-sm="90" flex-gt-md="80")
      md-list
        md-list-item(ng-repeat="item in state.records track by item.id")
          record-viewer(
            ng-dblclick="state.edit(item)"
            record="item"
            editing="item == state.editing"
            done-editing="state.edit(null)"
          )
          md-divider
