div.relative(role="main"
  layout="column" layout-fill
)
  md-button.md-fab.md-fab-bottom-right(
    ng-show="state.current == null" ng-click="state.addTape()"
  )
    md-icon library_add

  section.md-whiteframe-glow-z1
    // Toolbars
    mtna-searchbar

    // Page transitioning
    md-progress-linear(
      md-mode="{{ state.inFlight ? 'indeterminate' : 'determinate' }}" value="100"
    )

  md-content.md-default-theme( flex md-scroll-y elem-click="state.collapse()" )
    // main content

    span.lead(ng-if="1==1") You've returned <strong>{{ state.records.length }}</strong> record(s) searching for <strong>{{ state._location._queryString | date:'medium' }}</strong> from <strong>{{ state._location._startDate }}</strong> to <strong>{{ state._location._endDate }}.</strong>

    md-card.firefox-tweak(
      ng-if="state.pre.length > 0"
      flex-gt-sm="90" flex-gt-md="80"
    )
      md-list
        md-subheader.md-no-sticky(ng-repeat-start="(key,value) in state.pre | groupBy: 'family' ")
          h2 {{ key }}
        md-list-item(id="record-{{item.id}}" ng-repeat="item in value track by item.id")
            record-viewer(
              ng-click="state.select(item)"
              record="item"
            )
        md-divider(ng-repeat-end)

    md-card.md-padding.firefox-tweak(id="record-{{state.current.id}}"
      ng-if="state.current" flex-gt-sm="95" flex-gt-md="85"
    )
      record-viewer(
        record="state.current"
        selected="true"
        done-editing="state.save(state.current)"
        remove-record="state.deleted()"
      )

    md-card.firefox-tweak(
      ng-if="state.post.length > 0"
      flex-gt-sm="90" flex-gt-md="80"
    )
      md-list
        md-subheader.md-no-sticky(ng-repeat-start="(key,value) in state.post | groupBy: 'family' ")
          h2 {{ key }}
        md-list-item(id="record-{{item.id}}" ng-repeat="item in value track by item.id")
            record-viewer(
              ng-click="state.select(item)"
              record="item"
            )
        md-divider(ng-repeat-end)
