div.relative(role="main"
  layout="column" layout-fill
)
  md-button.md-fab.md-fab-bottom-right(ng-click="state.addTape()")
    md-icon library_add

  section.md-whiteframe-glow-z1
    // Toolbars
    mtna-searchbar

    // Page transitioning
    md-progress-linear(
      md-mode="{{ state.saving ? 'indeterminate' : 'determinate' }}" value="100"
    )

  md-content.md-default-theme( flex md-scroll-y elem-click="state.collapse()" )
    // main content

    md-card(
      ng-if="state.pre.length > 0"
      flex-gt-sm="90" flex-gt-md="80"
    )
      md-list
        md-subheader(ng-repeat-start="(key,value) in state.pre | groupBy: 'family' ")
          h2 {{ key }}
        md-list-item(ng-repeat="item in value track by item.id")
            record-viewer(
              ng-click="state.select(item)"
              record="item"
            )
        md-divider(ng-repeat-end)

    md-card.md-padding(
      ng-if="state.current" flex-gt-sm="95" flex-gt-md="85"
    )
      record-viewer(
        record="state.current"
        selected="true"
        done-editing="state.save(state.current)"
      )

    md-card(
      ng-if="state.post.length > 0"
      flex-gt-sm="90" flex-gt-md="80"
    )
      md-list
        md-subheader(ng-repeat-start="(key,value) in state.post | groupBy: 'family' ")
          h2 {{ key }}
        md-list-item(ng-repeat="item in value track by item.id")
            record-viewer(
              ng-click="state.select(item)"
              record="item"
            )
        md-divider(ng-repeat-end)
